@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 800px;
  background-color: rgba(29, 30, 40, 1);
}

h1 {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 7.5px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  color: white;
  top: 135px;
  left: 500.5px;
}

.countdown {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 688px;
  height: 184px;
  top: 268px;
  left: 376px;
}

.countdown > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 148px;
  height: 100%;
}

.countdown > div > div {
  position: relative;
  width: 148px;
  height: 150px;
  border-radius: 8px;
  background-color: rgba(52, 54, 80, 1);
  box-shadow: 0px 10px rgba(25, 26, 35, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mountain {
  margin-top: 30px;
  max-width: 1439px;
}

.countdown > div > p {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 5.92px;
  text-align: center;
  color: rgba(131, 133, 169, 1);
}

.logo {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 136px;
  height: 24px;
  top: 704px;
  left: 652px;
}

.line {
  position: absolute;
  width: 148px;
  height: 1px;
  top: 70px;
  opacity: 0.25;
  background-color: rgba(0, 0, 0, 1);
}

.icon:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(67%) sepia(53%) saturate(5373%)
    hue-rotate(311deg) brightness(99%) contrast(98%);
}

p {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 80px;
  line-height: 71px;
  letter-spacing: -2.4px;
  text-align: center;
  color: rgba(251, 94, 132, 1);
}
