@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color: #1d1e28;
  background-image: url(./images/stars.svg);
}

h1 {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 7.5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 100px;
}

.countdown {
  display: flex;
  justify-content: space-between;
  max-width: 688px;
  width: 100%;
  height: 184px;
}

.countdown > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 148px;
  width: 100%;
  height: 100%;
}

.countdown > div > div {
  position: relative;
  max-width: 148px;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  background-color: rgba(52, 54, 80, 1);
  box-shadow: 0px 10px rgba(25, 26, 35, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mountain {
  width: 100%;
  height: 175px;
}

.countdown > div > p {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 5.92px;
  text-align: center;
  color: rgba(131, 133, 169, 1);
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 136px;
  height: 24px;
  position: absolute;
  top: 90%;
  left: 47%;
  transform: translate(0, 0);
}

.line {
  position: absolute;
  max-width: 148px;
  width: 100%;
  height: 1px;
  top: 50%;
  opacity: 0.25;
  background-color: rgba(0, 0, 0, 1);
}

.icon:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(67%) sepia(53%) saturate(5373%)
    hue-rotate(311deg) brightness(99%) contrast(98%);
}

p {
  font-family: "Red Hat Text";
  font-weight: 700;
  font-size: 80px;
  line-height: 71px;
  letter-spacing: -2.4px;
  text-align: center;
  color: rgba(251, 94, 132, 1);
}

@media (max-width: 470px) {
  .countdown > div > p {
    font-family: "Red Hat Text";
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 2.96px;
    text-align: center;
  }

  .logo {
    left: 40%;
  }
}
